.bgblogs label{
color: #191825;
font-size: 20px;
font-weight: 400;
font-family: 'Heebo', sans-serif;
}


.form-control1{
    border: 1px solid #0D868F;
    border-radius: 2px !important;
    padding: 10px; 
}

.form-control1::placeholder{
    columns: var(--blog-linkcolor);
    opacity: 1;
}

.btnsub{
    background-color: var(--subhead2-color);
    color: white;
}
.btnsub:hover{
    background-color: var(--subhead2-color);
    color: white;
}

.bt-w {
    width: 180px;
}

.btn-pub{
    background-color: var(--subhead2-color);
    color: white;
}

.btn-pub:hover{
    background-color: #0D866F;
    color: white;
}

@media (max-width: 768px) {
    .bt-w {
        width: 148px;
    }
}