.bgprivacy{
    background-image: url("/Framepolicy.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: justify;
}

.bgprivacy p{
    font-size: 18px;
    font-family: 'Heebo', sans-serif;
    line-height: 30px;
    margin: 10px 150px;
    font-weight: 400;
}