.abtparts{
  background-image: url("/hexbanner.png");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.founderimg{
  height: 400px;
}
.fparts{
text-align: start;
} 
@media (max-width:426px){
.fparts{
  text-align: center;
}
}
@media (max-width:768px){
   
  .founderimg{
      max-height: 350px;
  }  
}

.foundername{
  color: var(--subhead2-color);
  font-size: 35px;
  font-weight: 700 !important;
}
.founderqualification{
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
}

.founderparas{
  font-weight: 400;
  line-height: 25px;
}